*{font-family:"Open Sans",sans-serif}@font-face{font-family:norwester;src:url("../fonts/norwester.ttf"),url("../fonts/norwester.eot")} button >a{color:white;}   .header{padding:25px 0px 25px 0px;border-bottom:1px #2e2e2e solid;background-color:white}.header h1{font-family:norwester;color:#ff8400;margin:0px;margin-top:5px}.header strong{font-family:norwester;color:#c7c7c7;font-weight:500}.header p{word-spacing:25px;margin-top:15px}.header a{color:#ff8400;font-weight:600}.header a:hover{text-decoration:none;opacity:0.8}.tagline{padding:150px 0px 100px 0px;background:url("../img/hackers_small.jpg") no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}.image{color:white}.image h1{font-family:norwester;font-size:80px;text-shadow:1px 1px 0px #2e2e2e;filter:dropshadow(color=#2e2e2e, offx=1, offy=1)}.image p{font-family:norwester;margin-bottom:5px;font-size:20px;text-shadow:1px 1px 0px #2e2e2e;filter:dropshadow(color=#2e2e2e, offx=1, offy=1)}.image h2{margin:0px;font-family:norwester;color:#ff8400;text-shadow:1px 1px 0px #2e2e2e;filter:dropshadow(color=#2e2e2e, offx=1, offy=1);margin-top: 0 px;margin-bottom:45px}.register{background-color:#ff9422;color:white;border:0px;border-radius:5px;width:229px;height:50px;font-family:norwester;font-size:25px;-webkit-box-shadow:2px 2px 0px #cc6a00;-moz-box-shadow:2px 2px 0px #cc6a00;box-shadow:2px 2px 0px #cc6a00}.register:active{-webkit-box-shadow:-2px -2px 0px #cc6a00;-moz-box-shadow:-2px -2px 0px #cc6a00;box-shadow:-2px -2px 0px #cc6a00}.stats{padding:50px 0px 50px 0px}.stats h1{font-family:norwester;font-size:45px}.stats strong{font-family:norwester;color:#ff8400}.workshops{background:url("../img/LA.jpg") no-repeat center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;padding:50px 0px 50px 0px}.workshops h1{font-family:norwester;font-size:45px;color:white;text-shadow:1px 1px 0px #2e2e2e;filter:dropshadow(color=#2e2e2e, offx=1, offy=1)}.workshops strong{font-family:norwester;color:#ff8400;text-shadow:1px 1px 0px #2e2e2e;filter:dropshadow(color=#2e2e2e, offx=1, offy=1)}.shops{background-color:white;border-radius:5px;padding:20px 50px 30px 20px;-webkit-box-shadow:1px 1px 1px #323232;-moz-box-shadow:1px 1px 1px #323232;box-shadow:1px 1px 1px #323232}.shops h2{margin-top:0px;font-family:norwester}.shops p{font-weight:600}.shops h4{font-size:14px;font-family:"Lora",serif}.shops a{color:#ff8400;text-decoration:none}.faq{padding:0px 0px 0px 0px}.faq h1{font-family:norwester;font-size:40px}.sponsors{padding:0px 0px 0px 0px}.sponsors h1{font-family:norwester;font-size:40px}.sponsors p{font-size:20px}.sponsors a{color:#ff8400}.press{padding:50px 0px 50px 0px}.press h1{font-family:norwester;font-size:40px}.press p{font-size:20px}.press a{color:#ff8400}.footer{padding:10px 0px 25px 0px}.footer p{margin:0px}.footer a{margin:0px;color:#ff8400;text-decoration:none}

.b-orange{
	color:#ff8400;
}

#register-big-button{
	min-height: 50px;
	height: auto;
}

.col-lg-8{
	top:-50px;
}

.text-right{
	min-width:300px;
}

.subblurb > *{
	color: #ff8400;
	text-decoration: none;
	font-family: norwester;
}

.subblurb > a:hover {
	opacity: 0.9;
	border-bottom: 1px dashed #ff8400;
	color: #ff8400;
	text-decoration: none;
}

#rose_bowl_directions {
	border-bottom: 1px dashed #ff8400;		
}

#sponsor_heading{
	text-align:center;
	width: 100%;
	margin-left: 50px;
}

.sponsor_logos{
	margin-left: -50px;
}

.sponsor_logos > a > img{
	margin-left: 50px;
	-webkit-filter: grayscale(1);
}


.sponsor_logos > a > img:hover{
	-webkit-filter: grayscale(0);
}

.row-1 > a > img{
	height:150px;
}

.row-2 > a > img{
	height: 100px;
}


.row-3 > a > img{
	height: 100px;
}

.sponsor_logos {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	width: 100%;
	margin-bottom: 30px;
}

/* styling exceptions */
#realnetworks > img{
	/* height:40px; */
}
