<table border="1" cellspacing="0" cellpadding="10" align="left" width="50%" style="margin-left:auto;margin-right:auto;">
    <tbody>
        <tr>
            <td width="10%" valign="top">
                <p align="center">
                    <strong>School</strong>
                </p>
            </td>
            <td width="50%" valign="top">
                <p align="center">
                    <strong>Drop-Off Point/Meet at Registration At:</strong>
                </p>
            </td>
            <td width="38%" valign="top">
                <p align="center">
                    <strong>Contact Info</strong>
                </p>
            </td>
            <td width="38%" valign="top">
                <p align="center">
                    <strong>Estimated Time of Return to School</strong>
                </p>
            </td>            
        </tr>
        <tr>
            <td width="10%" valign="top">
                <p>
                    UC Berkeley
                </p>
            </td>
            <td width="50%" valign="top">
                <p>
                    Drop-off point
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Person
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    10:00 PM
                </p>
            </td>            
        </tr>
        <tr>
            <td width="10%" valign="top">
                <p>
                    Stanford
                </p>
            </td>
            <td width="50%" valign="top">
                <p>
                    Drop-off point
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Person
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    10:00 PM
                </p>
            </td> 
        </tr>
        <tr>        <tr>
            <td width="10%" valign="top">
                <p>
                    UC Berkeley
                </p>
            </td>
            <td width="50%" valign="top">
                <p>
                    Drop-off point
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Person
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    10:00 PM
                </p>
            </td>            
        </tr>
            <td width="10%" valign="top">
                <p>
                    UCLA
                </p>
            </td>
            <td width="50%" valign="top">
                <p>
                    Drop-off point
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Person
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    5:00 PM
                </p>
            </td> 
        </tr>
        <tr>
            <td width="10%" valign="top">
                <p>
                    USC
                </p>
            </td>
            <td width="50%" valign="top">
                <p>
                    Drop-off point
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Person
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    5:00 PM
                </p>
            </td> 
        </tr>
        <tr>
            <td width="10%" valign="top">
                <p>
                    UC San Diego
                </p>
            </td>
            <td width="50%" valign="top">
                <p>
                    Drop-off point
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Person
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    7:00 PM
                </p>
            </td> 
        </tr>  
        <tr>
            <td width="10%" valign="top">
                <p>
                    UC Irvine
                </p>
            </td>
            <td width="50%" valign="top">
                <p>
                    Drop-off point
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Person
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    5:30 PM
                </p>
            </td> 
        </tr>    
        <tr>
            <td width="10%" valign="top">
                <p>
                    UC Davis
                </p>
            </td>
            <td width="50%" valign="top">
                <p>
                    Drop-off point
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Person
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    9:00 PM
                </p>
            </td> 
        </tr>
        <tr>
            <td width="10%" valign="top">
                <p>
                    Harvey Mudd, Claremont, Pomona
                </p>
            </td>
            <td width="50%" valign="top">
                <p>
                    Drop-off point
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Person
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    10:00 PM
                </p>
            </td> 
        </tr>    
        <tr>
            <td width="10%" valign="top">
                <p>
                    Caltech
                </p>
            </td>
            <td width="50%" valign="top">
                <p>
                    Drop-off point
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Person
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    5:00 PM
                </p>
            </td> 
        </tr>                                                      
    </tbody>
</table>