<div id="wrapper">
<h2 align="center" style="font-family: norwester; color: #FF9944">
    RETURNING TO LAX
</h2>
<div style="margin-left: auto; margin-right:auto;">
<p>
    A public bus leaves every 15 minutes from Santa Monica Place and arrives at LAX. The bus ride is approximately 45 minutes long.
</p>
<p>
    1) From your terminal of arrival, take a <strong>Lot C shuttle to the LAX Transit Center</strong>. The shuttle stop is at the 2<sup>nd</sup> sidewalk of
    the arrivals area.
    <br/>
    <br/>
</p>
<p>
    2) At the LAX Transit Center, you want to <strong>take the Santa Monica Rapid 3 bus</strong>, also known as the Blue Rapid 3 bus, towards Santa Monica
    Place. <strong>Do not take the Santa Monica Route 3 bus</strong> - it takes significantly longer to get to the venue.
</p>
<p>
    3) Get off at the <strong>4<sup>th</sup> Street and Colorado Avenue stop</strong>, which should be the 12<sup>th</sup> stop after you enter the bus.
    <br/>
    <br/>
</p>
<p>
    4) From there, you will see a huge Bloomingdale's sign - the venue is on the third floor of the mall, located directly above Bloomingdale's.
    <br/>
    <br/>
</p>
<p>
    5) Go to the third floor of the mall (where the Bloomingdale's sign is) and you will arrive at Santa Monica Place L3.
</p>
<p>
    If you get lost, please call Shubhi at 408-429-9472.
</p>
</div>
</div>