<table border="1" cellspacing="0" cellpadding="10" align="left" width="50%" style="margin-left:25%;">
    <tbody>
        <tr>
            <td width="26%" valign="top">
                <p align="center">
                    <strong>Company</strong>
                </p>
            </td>
            <td width="35%" valign="top">
                <p align="center">
                    <strong>Prizes</strong>
                </p>
            </td>
            <td width="38%" valign="top">
                <p align="center">
                    <strong>Criteria</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="26%" rowspan="2" valign="top">
                <p>
                    Microsoft
                </p>
            </td>
            <td width="35%" valign="top">
                <p>
                    $1,000 team cash prize
                    <br/>
                    1 Dell Venue Pro per Person
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Best Windows 8 or Windows Phone App
                </p>
            </td>
        </tr>
        <tr>
            <td width="35%" valign="top">
                <p>
                    $1,000 team cash prize<br/>
                    1 Dell Venue Pro per Person
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Best Azure App
                </p>
            </td>
        </tr>
        <tr>
            <td width="26%" rowspan="6" valign="top">
                <p>
                    Amazon AWS
                </p>
            </td>
            <td width="35%" valign="top">
                <p>
                    $1,000 AWS credit prize
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Best AWS Hack
                </p>
            </td>
        </tr>
        <tr>
            <td width="35%" valign="top">
                <p>
                    $1,000 AWS credit prize
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    2<sup>nd</sup> Place AWS Hack
                </p>
            </td>
        </tr>
        <tr>
            <td width="35%" valign="top">
                <p>
                    $1,000 AWS credit prize
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    3<sup>rd</sup> Place AWS Hack
                </p>
            </td>
        </tr>
        <tr>
            <td width="35%" valign="top">
                <p>
                    $1,000 AWS credit prize
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Best use of AWS DynamoDB
                </p>
            </td>
        </tr>
        <tr>
            <td width="35%" valign="top">
                <p>
                    $1,000 AWS credit prize
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Best use of HPC on AWS
                </p>
            </td>
        </tr>
        <tr>
            <td width="35%" valign="top">
                <p>
                    $1,000 AWS credit prize
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Best "Data Science" App
                </p>
            </td>
        </tr>
        <tr>
            <td width="26%" rowspan="3" valign="top">
                <p>
                    DigitalOcean
                    <br/>
                    <br/>
                    <strong></strong>
                </p>
            </td>
            <td width="35%" valign="top">
                <p>
                    $6,000 DO credit prize
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Best Use of DigitalOcean
                </p>
            </td>
        </tr>
        <tr>
            <td width="35%" valign="top">
                <p>
                    $4,000 DO credit prize
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    2<sup>nd</sup> Best Use of DigitalOcean
                </p>
            </td>
        </tr>
        <tr>
            <td width="35%" valign="top">
                <p>
                    $2,000 DO credit prize
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    3<sup>rd</sup> Best Use of DigitalOcean
                </p>
            </td>
        </tr>
        <tr>
            <td width="26%" valign="top">
                <p>
                    Thiel Fellowship
                </p>
            </td>
            <td width="35%" valign="top">
                <p>
                    All-expenses paid trip to 20 Under 20 Summit
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Awarded to Grand Prize winners.
                </p>
            </td>
        </tr>
        <tr>
            <td width="26%" valign="top">
                <p>
                    StartEngine
                </p>
            </td>
            <td width="35%" valign="top">
                <p>
                    $20,000 in seed funding
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Awarded to a promising team (likely the Grand Prize winners)
                </p>
            </td>
        </tr>
        <tr>
            <td width="26%" valign="top">
                <p>
                    Pinterest
                </p>
            </td>
            <td width="35%" valign="top">
                <p>
                    $1,000/person team prize
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Best Use of Pinterest APIs
                </p>
            </td>
        </tr>
        <tr>
            <td width="26%" rowspan="2" valign="top">
                <p>
                    Progress
                </p>
            </td>
            <td width="35%" valign="top">
                <p>
                    iPad mini w/ Retina display
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Best Hack showcasing the <a href="http://en.wikipedia.org/wiki/Internet_of_Things">"Internet of Things"</a>
                </p>
            </td>
        </tr>
        <tr>
            <td width="35%" valign="top">
                <p>
                    Philips Hue developer kit
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    2<sup>nd</sup> and 3<sup>rd</sup> Place Apps showcasing the "Internet of Things"
                </p>
            </td>
        </tr>
        <tr>
            <td width="26%" valign="top">
                <p>
                    Nanotronics Imaging
                </p>
            </td>
            <td width="35%" valign="top">
                <p>
                    Lytro light-field camera
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Best Computer Vision Hack
                </p>
            </td>
        </tr>
        <tr>
            <td width="26%" valign="top">
                <p>
                    Bloomberg
                </p>
            </td>
            <td width="35%" valign="top">
                <p>
                    Leap Motion Controllers
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Best Financial App
                </p>
            </td>
        </tr>

        <tr>
            <td width="26%" valign="top">
                <p>
                    SendGrid
                </p>
            </td>
            <td width="35%" valign="top">
                <p>
                    Leap Motion Controllers to all members of winning team
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Best Use of SendGrid
                </p>
            </td>
        </tr>
        <tr>
            <td width="26%" valign="top">
                <p>
                    Twilio
                </p>
            </td>
            <td width="35%" valign="top">
                <p>
                    Hard drives in NES cartridge cases!
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Best Use of Twilio
                </p>
            </td>
        </tr>        
        <tr>
            <td width="26%" valign="top">
                <p>
                    Wunderground
                </p>
            </td>
            <td width="35%" valign="top">
                <p>
                    $500
                </p>
            </td>
            <td width="38%" valign="top">
                <p>
                    Best Use of Wunderground API
                </p>
            </td>
        </tr>                
    </tbody>
</table>