/*
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lora:400,300,600,700,800);

@font-face {
  font-family: 'norwester';
  src: font-url("norwester.eot");
  src: font-url("norwester.eot?#iefix") format("embedded-opentype"), font-url("norwester.svg#norwester") format("svg"), font-url("norwester.woff") format("woff"), font-url("norwester.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Open Sans";
}

#navbar-custom {
  background-color: #fff;
  height: 70px;
  line-height: 70px;

  .left {float: left;}
  .right {float: right;}

  img {
    float: left;
    margin-top: 15px;
    height: 40px;
  }

  #links {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    color: #FF9422;

     a{
      color: #FF9422;
      margin-left: 20px;
     }

     a:hover {
      color: orange;
      text-decoration: none;
     }
  }
}